---
import Layout from '../../layouts/Layout.astro';
import Layout2 from '../../layouts/Layout2.astro';
import Sidebar from '../../components/Sidebar/Sidebar.astro';
import Navbar from '../../components/Navbar/Navbar.astro';

import { getCollection } from 'astro:content';

const docs = [
    { title: 'Introduction', link: '/docs/introduction' },
    { title: 'Getting Started', link: '/docs/getting-started' },
    { title: 'Components', link: '/docs/components' },
    { title: 'Utilities', link: '/docs/utilities' },
];

const posts = await getCollection('posts')
---

<Layout2 title='Legion design system'>
    <!-- <Navbar />
    <Sidebar items={docs} componentsLink={posts} /> -->
        <h1>Design System Documentation</h1>
        <p>Welcome to the design system documentation. Here you will find all the information you need to get started and use our design system effectively.</p>
</Layout2>