---
import { getCollection } from 'astro:content';
export async function getStaticPaths() {
  const docs = await getCollection('react-components');
  return docs.map(entry => {
    const [category, library, components, component] = entry.slug.split('/');
    if (components !== 'components') return null;
    
    return {
      params: { category, library, component },
      props: { entry },
    };
  }).filter(Boolean);
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const { category, library } = Astro.params;
---

<html>
  <body>
    <h1>{content.data.title}</h1>
    <div innerHTML={content.body}></div>
  </body>
</html>
