---
import Layout from '../../layouts/Layout.astro';
import 'legion-react/dist/style.css'

import Header from '../../components/Landing/Header/Header.astro';
import Features from '../../components/Landing/Features/Features.astro';
---

<Layout title="Legion Design System">
	<main>
		<Header />
		<Features />
	</main>
</Layout>

<script>


</script>

