---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import react from 'react'
import { Button } from 'legion-react'
// import Button from '../components/Button/Button.tsx'
// import LgnButton from '../components/Button/Button.tsx'
import 'legion-react/dist/style.css'

import Header from '../pages/Landing/Sections/Header/Header.astro';
---

<Layout title="Legion Design System">
	<main>
		<Header />
	</main>
</Layout>


